DATABASE_URL=postgres://postgres:change_me@****:****/dev-stim
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
POSTGRES_DB=change_me
NUXT_SESSION_PASSWORD=change_me
CHROMATIC_PROJECT_TOKEN=change_me

JIRA_API_TOKEN=change_me
JIRA_USERNAME=change_me
