@use 'vuetify/settings' with (
   $body-font-family: (
      'Poppins',
      sans-serif,
   ),
   $heading-font-family: (
      'Poppins',
      sans-serif,
   ),
   $rounded: (
      'lg': 10px,
      'xl': 20px,
   )
);
